{{ define "navbar" }}
<nav class="navbar">
    <div class="navbar-left">
        <!-- Logo qui redirige vers la page d'accueil -->
        <a href="/" class="navbar-logo">
            <img src="/assets/img/logo_topio.png" alt="Logo">
        </a>
    </div>
    <div class="navbar-right">
        {{ if .IsAuthenticated }}
            <!-- Bouton Logout -->
            <a href="/logout" class="btn">Logout</a>
        {{ else }}
            <!-- Boutons Login et Register -->
            <a href="/login" class="btn">Login</a>
            <a href="/register" class="btn">Register</a>
        {{ end }}
    </div>
</nav>
{{ end }}