# Fichiers binaires générés par Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Fichiers de configuration de Go
go.work
go.work.sum

# Cache des modules Go
/go/pkg/mod/
/go/bin/
/go/pkg/

# Répertoire de build local
/build/
/dist/

# Fichiers spécifiques à l'IDE
/.idea/
/.vscode/
/*.swp

# Fichiers temporaires
*.tmp
*.log

# Variables d'environnement
.env

# Répertoire des dépendances (si utilisé)
# /vendor/

# Dossier temporaire utilisé par Air
tmp/

# Ignorer la base de données locale
/docker/db/data/
/postgresql/data/