<!-- cmd/Presentation/Views/Login/Component/loginForm.html -->
{{ define "loginForm" }}
<form hx-post="/login" hx-target="#login-container" hx-swap="outerHTML" hx-trigger="submit" hx-ext="errorResponseSwap">
    <div>
        <label for="username">Username or Email:</label>
        <input type="text" id="username" name="username" required value="{{ .Data.username }}">
        <!-- Affichage d'une erreur pour le champ username -->
        {{ if .FormErrors.FieldErrors.username }}
            <span style="color: red;">{{ .FormErrors.FieldErrors.username }}</span>
        {{ end }}
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <!-- Affichage d'une erreur pour le champ password -->
        {{ if .FormErrors.FieldErrors.password }}
            <span style="color: red;">{{ .FormErrors.FieldErrors.password }}</span>
        {{ end }}
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
{{ end }}