{{ define "content" }}
<div class="login-container">
    <h2>Login</h2>

    <!-- Affichage du message d'erreur s'il existe -->
    {{ if .ErrorMessage }}
    <div class="error-message" style="color: red;">
        {{ .ErrorMessage }}
    </div>
    {{ end }}
    <form hx-post="/login" hx-target="#content" hx-swap="outerHTML">
        <div>
            <label for="username">Username or Email:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
{{ end }}